<p class="chatTitle logo">{{theCat}}</p>

<div id="comment-box">
  <p>(User) 69erboi: Movies yada yada yada</p>
</div>

<form id="chatb0x">
<textarea name="comment" form="usrform" placeholder="Enter text here..."></textarea>
  <div id="divider">
    <p><button class="btn-add submit">Submit</button></p>
  </div>
</form>