<p class="chatTitle logo">{{theCat}}</p>

<div id="comment-box">
  {{!-- <button id="delete" class="btn-add submit sub">Delete</button> --}}
</div>

<form id="chatb0x">
<textarea name="comment" form="usrform" placeholder="Enter text here..."></textarea>
  <div id="divider">
    <p><button id="msgAdd" class="btn-add submit sub">Submit</button></p>
  </div>
</form>