<p class="chatTitle logo">{{theCat}}</p>

<div id="comment-box">
  <p>(User) 69erboi: Movies yada yada yada</p>
</div>

<div id="chat-box">
  <p>Type your comment here...</p>
  <div>

  <div id="divider">
    <p><button class="btn-add submit">Submit</button></p>
  </div>
  </div>
</div>