<p class="chatTitle logo">{{theCat}}</p>

<div id="comment-box">
  <button id="msgDelete" class="btn-add submit sub">Delete</button>
  <form action='/delete-post/{this._id}' method="POST"></form>
  </form>
</div>

<form id="chatb0x">
<textarea name="comment" form="usrform" placeholder="Enter text here..."></textarea>
  <div id="divider">
    <p><button id="msgAdd" class="btn-add submit sub">Submit</button></p>
  </div>
</form>