<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=	1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hobby Helper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
  </div>
</nav>

{{{body}}}
</body>
</html>

{{!-- <a href="/all">All Chatrooms</a>
<a href="/movies">Movies</a>
<a href="/tv">Televison</a>
<a href="/celebrities">Celebrities</a>
<a href="/sports">Sports</a>
<a href="/music">Music</a>
<a href="/games">Video Games</a>
<a href="/coding">Coding</a>
<a href="/dance">Dance</a>
<a href="/acting">Acting</a>
<a href="/outdoors">Outdoors</a>
<a href="/fitness">Fitness</a>
<a href="/fashion">Fashion</a>
<a href="/cooking">Cooking</a> --}}
