<h1>Welcome to your profile!</h1>
<br>

{{!-- <img style="width: 200px; border-radius: 100%" src="{{currentUser.profileImage}}"> --}}
<img style="width: 200px" src="{{currentUser.slackPic}}">
<img style="width: 200px" src="{{currentUser.googlePic}}">


<form action="/delete-my-account" method="POST">
<br>
<button type="submit">Delete My Account</button>
</form> 

