<h1>Welcome to your profile!</h1>
<br>

<img style="width: 200px" src="{{currentUser.slackPic}}">
<img style="width: 200px" src="{{currentUser.googlePic}}">
<img style="width: 200px" src="{{currentUser.profileImage}}">

<form action="/delete-my-account" method="POST">
<br>
<button type="submit" class="btn-add">Delete My Account</button>
</form> 

