<h1>Welcome to your profile!</h1>
<br>

{{!-- <img style="width: 200px; border-radius: 100%" src="{{currentUser.profileImage}}"> --}}
<img style="width: 200px" src="{{currentUser.slackPic}}">

<form action="/profile/delete-my-account" method="POST">
<br>
<button>Delete My Account</button>
</form> 

