<h1 id="secret">ADMINS ONLY ACCESS PAGE</h1>

<img class="secret" src="./images/admin.png" width="200px" height="125px">

<h2 id="secret">Rules to Enforce:</h2>
<div class="rules">
  <p>1: Be kind and courteous to everyone</p>
  <p>2: No hate speech of bullying</p>
  <p>3: No promotions or spamming in threads</p>
  <p>4: Respect everyone's privacy</p>
  <p>5: Most importantly, have fun!</p>
</div>
